
* {
    font-family: 'Quicksand', sans-serif;
    color:whitesmoke;
    background-color: black;
    hr {
        border: none;
        color: orange;
        background-color:orange;
        height: 2px;
    }
    li {
        list-style-image: url(/icons/checkmark.png) no-repeat 0 4px;
        padding-left: 24px;
        line-height: 25px;
    }
    h4 {
        line-height: 27px;  
    }
}
.container {
    width: 1400px;
    margin: 0 auto;
    .col-4 {
        margin-top: 30px;
    }
    .avatar {
        border: 2px solid orange;
        border-radius: 2%;
        width: 250px;
        box-shadow: 10px 5px 5px orange;
    }

   
}

